<!-- <!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>aaaaaaaaaaaaaaaaaaaaaaa</h1>
  <div class="page">
    <form method="POST" action="{{ url_for('cadastro') }}" class="formCadastro">
      <h1>Cadastro</h1>
      <label for="username">Nome de usuário</label>
      <input type="text" name="username" placeholder="Digite seu nome de usuário" autofocus="true" />
      <label for="email">E-mail</label>
      <input type="email" name="email" placeholder="Digite seu e-mail" />
      <label for="password">Senha</label>
      <input type="password" name="password" placeholder="Digite sua senha" />
      <label for="dob">Data de nascimento</label>
      <input type="date" name="dob" />
      <button type="submit">Cadastrar</button>
    </form>
  </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <form action="{{ url_for('cadastro') }}" method="POST">
        <input type="text" name="nome" placeholder="Usuário" required><br>
        <input type="password" name="senha" placeholder="Senha" required><br>
        <input type="email" name="email" placeholder="email" required><br>
        <input type="date" name="datanasc" placeholder="Data nascimento" required><br>

        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>